 * {
 	box-sizing: border-box;
 }

 body{
 	background: #292929;
 }

h1{
	background: #ff203d;
	text-align: center;
	color: white;
	padding: 10px 10px;
	box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

#name {
	width: 550px;
	height: 30px;
	}

#country{
	border-radius: 5px;
	width: 550px;
	height: 30px;
}

 fieldset {
	font-weight: bold;
	font-family: sans-serif;
	margin: 10px 20px;
	padding: 10px 10px;
	background: white;
    border: 1px solid rgba(0,0,0,0.1);
    
}

.fl{
		border:0 none;
		
}

.content {
	margin: 60px auto;
	width: 600px;
	display: block;
	background: #fff;
}

select {
  border-radius: 10px;
  -webkit-appearance: none;
  background: url('arrow.svg');
  background-position: right center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
 
select::-ms-expand {
  display: none;
}

button{
	font-size: 20px;
	background: #ff203d;
	padding: 15px 20px;
	margin-left: 380px;
	color: white;
	box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(253, 186, 186, .1);
}

.radio label {
display: inline-block;
cursor: pointer;
position: relative;
padding-left: 25px;
margin-right: 130px;
font-size: 13px;
}

.radio input[type=radio] {
display: none;
}

.radio label:before {
content: "";
display: inline-block;
width: 16px;
height: 16px;
 margin-right: 10px;
position: absolute;
left: 0;
bottom: 1px;
background-color: #aaa;
box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
border-radius: 8px;
color:#333;
}

.radio input[type=radio]:checked + label:before{
content: "\2022";
color: #fff;
font-color: blue;
font-size: 15px;
text-align: center;
line-height: 18px;
}

.radio input[type=radio]:checked + label{
	color: #ff203d;
}

.checkbox label {
display: inline-block;
cursor: pointer;
position: relative;
font-size: 13px;
}

.checkbox input[type=checkbox] {
display: none;
}

.checkbox label:before {
content: "";
border-radius: 3px;
display: inline-block;
width: 16px;
height: 16px;
margin-right: 10px;
bottom: 1px;
background-color: #aaa;
box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.checkbox input[type=checkbox]:checked + label:before {
content: "\2713";
text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
font-size: 15px;
color: #fff;
text-align: center;
line-height: 15px;

}

.checkbox input[type=checkbox]:checked + label{
	color: #ff203d;
	
}