<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
		<header>
			<section class="slider">
				<img src="images/h_1.jpg" alt="">
				<img src="images/h_2.jpg" alt="">
				<img src="images/h_3.jpg" alt="">
			</section>	

			<section class="menu">
			<div>
				<img src="images/logo_1x.png" alt="">
				<a href="tel:3452565650">(3452)56-56-50</a>
				<a href="tel:88043334406">8(804)333 44 06</a>

				<nav>
					<ul>
						<li>ПЕЧАТАЕМ ВСЕ</li>
							<ul>
								<li>Коробки</li>
								<li>Реклама</li>
								<li>Сувениры</li>
								<li>Газеты</li>
								<li>Журналы</li>
								<li>Книги</li>
							</ul>
						
				
						<li><a href="" title="">О КОМПАНИИ</a></li>
						<li><a href="" title="">КОНТАКТЫ</a></li>
						<li><a href="" title="">FAQ</a></li>
					</ul>
				</nav>
			</div>
			</section>
		</header>

		<main>
			<section class="we_print">
			<div>
				<h1>МЫ ПЕЧАТАЕМ</h1>
				<img src="images/b2_1.jpg" alt="boxes">
				<a href="">КОРОБКИ</a>
				<img src="images/b2_2.jpg" alt="newspapers">
				<a href="">ГАЗЕТЫ И ЖУРНАЛЫ</a>
				<img src="images/b2_3.jpg" alt="advertising">
				<a href="">РЕКЛАМА</a>
				<img src="images/b2_4.jpg" alt="books">
				<a href="">КНИГИ</a>
			</div>
			</section>

			<section class="our_works">
			<div>
				<h1>НАШИ РАБОТЫ</h1>
				<img src="images/b3_1.jpg" alt="Примеры работ">
				<img src="images/b3_2.jpg" alt="Примеры работ">
				<img src="images/b3_3.jpg" alt="Примеры работ">
				<img src="images/b3_4.jpg" alt="Примеры работ">
				<img src="images/b3_5.jpg" alt="Примеры работ">
				<img src="images/b3_6.jpg" alt="Примеры работ">
				<img src="images/b3_7.jpg" alt="Примеры работ">
			</div>

			<div>
				<img src="images/background.jpg" alt="Фоновый рисунок">
				<a href=">Показать больше</a>
			</div>
			</section>

			<section class="news">
			<h1>НОВОСТИ</h1>
		
			<div>
				<img src="images/c1.jpg" alt="box">
				<time> 26 июля 2016</time>
				<h6>Азбука Тюмени: город глазами юных художников - старт дан!</h6>
				<p>430-летие областного центра горожане увековечат  необычно: на проияжении трех с половиной месяцев воспитанникик художественных школ и изостудий будут рисовать Тюмень</p>
			</div>

			<div>
				<img src="images/c2.jpg" alt="books">
				<time> 9 декабря 2015</time>
				<h6>Благотворительная  «Ярмарка Доброты»</h6>
				<p>В рамках уже V благотворительного детского марафона  «Эти дети» в течении года проходит ряд мероприятий и заключительным является «Ярмарка Доброты»</p>
			</div>

			<div>
				<img src="images/c3.jpg" alt="books">
				<time> 26 июля 2016</time>
				<h6>Выставочный проект «Мир сказки  П.П.Ершова. Конек-Горбунок»</h6>
				<p>На конкурс было заявлено более трехсот работ. На церемонии выступал один из организаторов проекта - Виктор Александрович Рейн, заместитель председателя Тюменской Облвстной Думы.</p>
			</div>
			</section>

			<section class="add_info">
			<div>
				<img src="images/icons/icon_paper_1x.png" alt="box">
				<a href="">ТРЕБОВАНИЯ К ФАЙЛАМ</a>
			</div>

			<div>
				<img src="images/icons/icon_dialog_1x.png" alt="books">
				<a href="">ПОЛЕЗНЫЕ СОВЕТЫ</a>
			</div>

			<div>
				<img src="images/icons/icon_cloud_1x.png" alt="books">
				<a href="">ЗАГРУЗИТЬ ФАЙЛ</a>
			</div>
			</section>

		</main>

		<footer>
			<div>
				<p>"&copy Wacs Group", 2005-2016</p>
				<address>625002, РФ, г.Тюмень, ул.Осипенко, 81</address>
			</div>

			<div>
				<a href="tel:3452565650">Телефон: (3452)56-56-50</a>
				<a href="tel:88043334406">Факс: 8(804)333 44 06</a>
			</div>

			<div>
				<img src="images/icons/icon_vk_1x.png" alt="placeholder+image">
				<img src="images/icons/icon_fb_1x.png" alt="placeholder+image">
			</div>
		</footer>
</body>
</html>